@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
:root {
  --off-white: #F5F5F5;
  --dark-gray: rgb(51, 51, 51);
  --mid-gray: #666666;
  --light-gray: #CCCCCC;
  --black: #000000;
}

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  background: url("../Static/background.webp");
  background-position: center;
  background-size: 250%; /*For Zooming bg*/
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; 
}

/* Header Section */

header {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000;
  height: 11.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20rem;
  background-image: url('../Static/background.webp');
  background-position: top; /*for display top side of an image*/
  background-size: cover;
  
}

.header-img {
  height: 9rem;
  width: 9rem;
  margin: 0;
}

nav {
  display: flex;
  margin-right: -13rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

nav li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: var(--off-white);
  padding: 1.5rem 2.5rem;
  display: block;
  font-size: 1.8rem;
  border-radius: 1rem;
  background-color: rgba(51, 51, 51, 0.7);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

nav ul li a:hover {
  font-weight: bold;
  color: var(--dark-gray);
  background-color: var(--off-white);
}

.active {
  background-color: var(--off-white);
  color: var(--dark-gray);
  border: none;
  font-weight: bolder;
  box-shadow: 0 0 1.5rem rgb(0, 0, 0);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.booking {
  margin: 0;
  display: inline-block;
  padding: 1.2rem 2.6rem;
  font-size: 1.8rem;
  font-weight: bolder;
  color: white;
  background-color: #37bd26;
  border: 0.3rem solid #79e16c;
  cursor: pointer;
  border-radius: 0.5rem;
  animation: pulse 2s infinite;
  transition: background-color 0.4s ease , color 0.4s ease;
  font-family: 'Lato', sans-serif;
}

.booking:hover {
  font-weight: bolder;
  border: 0.3rem solid #B9D39B;
  background-color: #79e16c;
  color: #2d2d2d;
}

  header h1 {
    display: none;
  }

  .fa-bars {
    display: none;
  }

  section.menu-section {
    display: none;
  }

/* Main Section */

main {
  margin-top: 11.5rem;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.card img {
  width: 80%;
  max-height: 49rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.card h2 {
  position: absolute;
  top: 10rem;
  font-size: 4.5rem;
  color: var(--off-white);
  background-color: rgba(51, 51, 51, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.card p {
  position: absolute;
  top: 23rem;
  left: 30rem;
  right: 30rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--off-white);
  background-color: rgba(51, 51, 51, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

/* Dot Navigation */

.dots {
  text-align: center;
  margin-top: 1rem;
}

.dot {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.5rem;
  background-color: var(--dark-gray);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--off-white); /* Active color */
}

@media (min-height: 800px) {
  .card {
    max-width: 80%; 
    margin: 2rem auto 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .card img {
    width: 80%; 
    max-height: 65vh; 
  }
}


/* Footer Section */

footer {
  position: fixed;
  bottom: 0;
  height: 9.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-image: url('../Static/background.webp');
  background-position: bottom;
  background-size: cover;
}

footer p {
  color: var(--off-white);
  font-size: 1.6rem;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
}

.footer-img {
  height: 9rem;
  width: 9rem;
  margin: 0;
}

/* Styles for min 475px max 617px */

@media (min-width: 475px) and (max-width: 617px) {

  html,body {
    background-size: 500%;
  }

  header {
  height: 100px;
  justify-content: center;
  gap: 4rem;
  background-image: url('../Static/background.webp');
  background-position: top;
  background-size: 150%;
  
}
  .header-img {
    height: 8rem;
    width: 8rem;

  }

  header h1 {
    display: block;
    font-size: 2.3rem;
  }

  .fa-bars {
    display: block;
    font-size: 2rem;
    color: white;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  nav {
    display: none;
  }

  .booking  {
    display: none;
  }

  section.menu-section {
    position: absolute;
    margin: 0;
    background-color: var(--dark-gray);
    width: 100%;
    top: 10rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 1000;
  }

  section.menu-section ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    padding: 0.5rem;
  }

  section.menu-section ul li a{
    text-decoration: none;
    padding: 0.3rem 0.6rem;
    display: block;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    color: var(--dark-gray);
    background-color: var(--off-white);
    font-weight: bold;
  }

}


